/******************************************************************************

START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 

colors, and handle the layout for our footer and "Remix on Glitch" button. If

you're new to CSS they may seem a little complicated, but you can scroll down

to this section's matching END comment to see page-specific styles.

******************************************************************************/

/* 

  The style rules specify elements by type and by attributes such as class and ID

  Each section indicates an element or elements, then lists the style properties to apply

  See if you can cross-reference the rules in this file with the elements in index.html

*/

/* Our default values set as CSS variables */

@font-face{

  font-family: 'Noto Sans Mono', monospace;

  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap")

    format("opentype");

}

:root {

  --largura: 140%;

  --color-padrao: white;

  --color-text-main: #000000;

  --color-primary: #FFFF00;

  --wrapper-altura: 87vh;

  --image-max-largura: 400px;

  --image-margin: 1rem;

  --font-principal: "Arial";

  --font-family-cabecalho: "Arial";

  --max-largura: 144px;

  --max-altura: 544px;

  --max-peso: 500;

  --font-tamanho: 15px;

  --font-tamanho-cabecalho: 20px;

  --fundo-padrao: white;

  --negrito: bold;

  --espaco-em-branco: nowrap;

  --X: 0px;

  --Y: 390px;

 

  --height: "altuta";

  --Weight: "peso";

  --width: "largura";

  --white-space: "espaco em branco";

    

}

/* Basic page style resets */

* {

  box-sizing: border-box;

}

[hidden] {

  display: none !important;

}

/* Iamport fonts *//* Our remix on glitch button */

.btnedit{

      background-color: red;
        border: 5px solid black;
        padding: 10px;
        width: 100%;
        border-radius: 15px;
        color: white;
        font-size: 15px;

}

.btnedit img {

  margin-right: auto;

}

.btnedit:hover {

  background-color: green;

  cursor: pointer;

}
/******************************************************************************

END Glitch hello-app default styles

******************************************************************************/

body {

      font-family: Arial, helvetica, sans-serif;
      background-image: url(https://tenor.com/view/super-team-welcome-to-the-team-gif-13451906.gif);
      width: var(--largura);

     }

h1{

  text-align: center;

  margin-bottom: 15px;

  color: black;

}

  t1{

   text-align: left;

   margin-bottom: 20px;

   color: blue;

  }

t2{

   text-align: right;

   margin-bottom: 20px;

   color: green;

  }

tituloblue{

  text-align: center;

   margin-bottom: 20px;

   color: blue;

  }

tituloyellow{

   text-align: center;

   margin-bottom: 20px;

   color: yellow;

  }

/* Page alturaure */

.wrapper {

  min-height: var(--wrapper-altura);

  display: grid;

  place-items: center;

  margin: 0 1rem;

}

.content {

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  width: 100%;

  margin-top: 100px;

}

/* Instructions */

      .instructions{

        margin: 1rem auto 0;

}

/* Navigation grid */

.divider {

  padding: 0 1rem;

}

/* Button - Add it from the README instructions */

 btn,input{

  border: 3px solid black;

  box-sizing: border-box;

  border-radius: 4px;

  padding: 1px;

  transition: 500ms;

}

/* Interactive image */

.illustration:active {

  transform: translateY(5px);

}

/* Button dip

- Toggling this class on and off will move it down and up again

- The button transition property above determines the speed of the translate (500ms)

*/

  

  .dipped {

  transform: translateY(5px);

}