@font-face{
  font-family: 'Noto Sans Mono', monospace;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap")
    format("opentype");
}

:root {
  --largura: 140%;
  --color-padrao: white;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-altura: 87vh;
  --image-max-largura: 100px;
  --image-margin: 1rem;
  --font-principal: "Arial";
  --font-family-cabecalho: "Arial";
  --max-largura: 144px;
  --max-altura: 544px;
  --max-peso: 500;
  --font-tamanho: 15px;
  --font-tamanho-cabecalho: 20px;
  --fundo-padrao: white;
  --negrito: bold;
  --espaco-em-branco: nowrap;
  --X: 0px;
  --Y: 390px;
  --height: "altuta";
  --Weight: "peso";
  --width: "largura";
  --white-space: "espaco em branco";
}

*{
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

/* Iamport fonts *//* Our remix on glitch button */
.btn-edit-adm{
        background-image: linear-gradient(45deg, silver, gold);
        padding: 10px;
        color: white;
        justify-content: center;
}
.btn-edit-error{
        background-image: linear-gradient(45deg, gray, black);
        padding: 10px;
        color: white;
        justify-content: center;
}
.btn-edit-pingobras{
        background-image: linear-gradient(45deg, cyan, purple);
        padding: 10px;
        color: white;
        justify-content: center;
}
.btn-edit-find-color{
        background-image: linear-gradient(45deg,red, green, blue);
        padding: 10px;
        color: white;
        justify-content: center;
}
.btn-edit-bc{
        background: gray;
        padding: 10px;
        color: white;
        justify-content: center;
}
.btn-edit-forms{
  display: inline-block;
  margin: .5em;
  background-color: purple;
  color: white;
      -webkit-transition: box-shadow 280ms cubic-bezier(0.4,0,0.2,1);
    transition: box-shadow 280ms cubic-bezier(0.4,0,0.2,1);
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -webkit-transition: background .2s .1s;
    transition: background .2s .1s;
    cursor: pointer;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 36px;
    text-decoration: none;
    text-transform: none;
    min-width: auto;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    z-index: 0;
}
.btn-edit{
        background-color: red;
        padding: 10px;
        border-radius: 15px;
        color: white;
        justify-content: center;
}

/******************************************************************************

END Glitch hello-app default styles

******************************************************************************/

body {
      font-family: Arial, helvetica, sans-serif;
      background-image: url(https://tenor.com/view/super-team-welcome-to-the-team-gif-13451906.gif);
      width: auto;
      background-repeat: no-repeat;
      background-size: cover;
      justify-content: center;
      text-align: center;
}

h1{
  text-align: center;
  font-size: 20pt;
  margin-bottom: 15px;
  color: black;
}
a{
  width: 75%;
  font-size: 15px;
  border: 5px solid black;
  font-weight: bold;
  text-decoration: none;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
a:hover{
  background-image: linear-gradient(45deg, red, green);
  cursor: pointer;
  box-shadow: -8px 20px 20px gray;
  color: gold;
  transform: translateY(5px);
  transition: all .3s ease-out;
}
/* Page alturaure */
.tela-altura {
  min-height: var(--wrapper-altura);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}


/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}
.chat{
  display: none;
  border: 5px solid black;
  z-index: 9;
}

/* Add styles to the form container */
.form-chat {
  color: white;
  max-width: 100%;
  padding: 7px;
  background-color: gray;
}

.form-chat textarea {
  color: black;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 5px solid black;
  background: white;
}

.form-chat textarea:focus {
  background-color: gold;
  outline: none;
}
